<% content_for :title, "Editing article" %>
<fieldset>
  <legend>Editing article</legend>
<%= render "form", article: @article %>
</fieldset>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
