<div id="<%%= dom_id <%= singular_name %> %>" class="info" >
  <ul><% attributes.reject(&:password_digest?).each do |attribute| -%> <% if !attribute.attachment? %>
    <li class="<%= attribute.type %>"><strong><%= attribute.human_name -%>:</strong> <%%= <%= singular_name %>.<%= attribute.column_name %> %></li><% end -%><% end %>
    <li class="details command"><%%= link_to "Details", <%= model_resource_name(singular_table_name) %> %></li>
    <li class="edit command"><%%= link_to "Edit", <%= edit_helper(type: :path) %> %></li>
  </ul>
</div>
